body{
  background-color: rgba(113, 113, 248, 0.116);
}

.col-md-4{
  transition: 0.5s;
  border-radius: 10px;
  margin-top:30px;
 
}
.col-md-4:hover{
  transform: scale(1.07);
  cursor: pointer;
 
}

.card-img-top
{
  border-radius: 10px 10px 0px 0px;

}
.mb-2{
  margin:12px;
  border-radius: 10px;
}
h1,
p {
  font-family: Lato;
}
.controls-top{
  margin-top: 30px;
 
}
.btn-floating i {
  font-size: 30px;
  color: white;
  background-color: rgba(46, 46, 248, 0.295);
  border-radius: 5px;
  margin: 20px 10px;
  padding: 3px 8px;
}

.live{
  color:white;
  background-color: red;
  padding:0px 7px;
  margin:auto 5px ;
  border-radius: 5px;
}
.float-left{
  margin:auto 3px ; 
}
.live span , .live p {
  margin:auto auto;
}
 
.live span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color:rgb(180, 174, 174);
  background-color: white;
}
.float-left  #inline h5{
  font-weight: 700;
  color:black
}
.center {
  margin-left: auto;
  margin-right: auto;
}

#inline {
  display: flex;
  flex-direction: row;
}
#inline1 i,
#inline1 p,
#inline1 {
  margin-left: 5px;

  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

#inline1 p {
  color: black;
}
.grad1 i,
.grad2 i,
#inline p {
  margin: 5px;
  color: white;
}
.grad1 {
  background-image: linear-gradient(
    to right,
    rgba(79, 153, 250, 0.774),
    rgba(9, 11, 158, 0.877)
  );
}

.grad2 {
  background-image: linear-gradient(
    to right,
    rgba(10, 243, 29, 0.616),
    rgba(7, 146, 88, 0.815)
  );
}

.card {
  width: fit-content;
}

.fa-caret-square-o-right {
  font-size: 15px;
  background-color: rgba(214, 19, 19, 0.192);
  color: rgba(255, 0, 0, 0.336);
}

#inline1 .fa-sticky-note {
  font-size: 15px;
  color: rgba(255, 0, 0, 0.596);
}
#book {
  font-size: 17px;
  margin-left: 3px;
  color: rgb(238, 166, 10);
  background-color: rgba(238, 166, 10, 0.137);
}

.col-md-4 {
  float: left;
}

i#book {
  margin-left: 3px;
}
.card{
  width: fit-content;
  height: fit-content;
  margin-left: 1px;
}
@media(max-width:430px){
  
  i.fa.fa-angle-left{
    margin: 5px ;
  
    font-size: 20px;
  }
  i.fa.fa-angle-right {
    margin: 5px;
    margin-left: 5px;

    font-size: 20px;
}

.float-left h5{
  font-size:small
}
.live{
  padding: 0px 3px;

  margin :auto 3px;
  font-size: x-small;
}
}